* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.top_bar {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    padding: 24px;
}

.header nav {
    display: flex;
    column-gap: 24px;
}

.header nav a {
    color: #000;
    text-decoration: none;
}

.header input {
    max-width: 550px;
    width: 100%;
    padding: 12px;
    background-color: #F0F0F0;
    border: none;
    border-radius: 60px;
}

.icons {
    display: flex;
    column-gap: 14px;
}


.hero {
    background-color: #F2F0F1;
}

.row {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
}

.hero h2 {
    font-size: 64px;
}

.hero_subheading {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 32px;
}

.black_btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 15px 68px;
    border-radius: 60px;
    font-size: 16px;
}

.facts {
    display: flex;
    column-gap: 32px;
    margin-top: 48px;
}

.facts-big {
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    margin-bottom: 10px;

}

.facts-box {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 32px;
}

.facts-small {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.hero_text {
    width: 55%;
}

.hero_img {
    width: 45%;
}

.grid {
    background-color: #F0F0F0;
    max-width: 1240px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 64px;
}

.grid_blocks {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.grid_small {
    background-color: white;
    color: black;
    text-decoration: none;
    flex-grow: 1;
    flex-basis: 35%;
    font-weight: 700;
    font-size: 34px;
    border-radius: 20px;
    padding: 36px;
    height: 289px;
    background-position-x: right;
    background-repeat: no-repeat;
}

.grid_big {
    background-color: white;
    color: black;
    text-decoration: none;
    flex-grow: 1.6;
    flex-basis: 55%;
    font-weight: 700;
    font-size: 34px;
    border-radius: 20px;
    padding: 36px;
    height: 289px;
    background-position-x: right;
    background-repeat: no-repeat;
}

.grid_casual {
    background-image: url("/assets/imgs/casual_bg.png");
}

.grid_formal {
    background-image: url("/assets/imgs/formal_bg.png");
}

.grid_party {
    background-image: url("/assets/imgs/party_bg.png");

}

.grid_gym {
    background-image: url("/assets/imgs/gym_bg.png");
}

.relative {
    position: relative;
}

.star {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.star>* {
    float: right;
}

.star label {
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
    padding: 0 10px;
}

.star label:nth-of-type(5):after {
    animation-delay: 0.5s;
}

.star label:nth-of-type(4):after {
    animation-delay: 0.4s;
}

.star label:nth-of-type(3):after {
    animation-delay: 0.3s;
}

.star label:nth-of-type(2):after {
    animation-delay: 0.2s;
}

.star label:nth-of-type(1):after {
    animation-delay: 0.1s;
}

.star label:after {
    transition: all 1s ease-out;
    position: absolute;
    content: "☆";
    color: orange;
    font-size: 65px;
}

.star input {
    display: none;
}

.star input:checked+label:after,
.star input:checked~label:after {
    content: "★";
    color: gold;
    text-shadow: 0 0 10px gold;
}